@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f7f4ed;
}

::-webkit-scrollbar-thumb {
  background: #d1c1d7;
  border-radius: 100vh;
  border: 3px solid #f6f7ed;
}

::-webkit-scrollbar-thumb:hover {
  background: #c0a0b9;
}

body {
  @apply min-h-screen transition-all duration-300;
}

html.dark body {
  @apply bg-slate-800 text-white;
}

.avatar {
  z-index: 1;
}

.avatar svg {
  display: none;
  position: relative;
  top: -64px;
  width: 32px;
  height: 32px;
  margin: auto;
  cursor: pointer;
}
.avatar div:hover svg {
  display: block;
}
.avatar div:hover img {
  opacity: 0.3;
}
